<navigation-bar>
  <ul class="log-menu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items'%>
  </ul>
</navigation-bar>

<div class="container">
  <div app-view-segment="0"></div>
</div>

<footer>Teams App - 2016</a></footer>
