<h3> Teams Index</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre de Team</th>
      <th># de Jugadores</th>
      <th class="actions">
        <a href="#/team/nuevo">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </th>
    </tr>
  </thead>

  <tbody>
    <!--<tr ng-repeat="players in ctrl.player"
      ng-class="{ removing: player.removing }">

      <td>{{player.attributes.id}}</td>
      <td>{{player.attributes.full_name}}</td>
      <td>{{player.attributes.birthdate}} ({{player.attributes.current_age}})</td>

      <td class="actions">
        <a href="#/players/{{player.attributes.id}}/editar">
          <span class="glyphicon glyphicon-edit"></span>
        </a>

        <a href ng-click="ctrl.delete(player)"
          confirmation-dialog="¿Está seguro de que desea eliminar esta player?">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>-->
  </tbody>
</table>
